/node-red/node_modules
/ffmpeg/node_modules
*.backup
/node-red/.config.*
*.jpg
/python/*.jpg
/python/*.png
/python/*.pt
*.exe
/mediamtx_v1.15.1_windows_amd64/*.exe
*.pt
/cbased/build
/label
/yoloTrain4
/yoloTrain5
/yoloTrain3
/yoloTrain2
/yoloTrain
/label/all
/label/label
/label/left
/label/right
/label/0130